<%- include('../partials/header') %>

<h1><%= title %></h1>


<section class="td-plans">
    <form action="/destinations/<%= destination._id %>/plans" method="POST" class="plan-form">
        <label>Add a Plan:</label>
        <br>
        <input type="text" name="plan">
        <br>
        <button type="submit">Add Plan</button>
    </form>
    <br>
    <br>
    <div>My Plans:</div>

    <% if (destination.plans.length) { %>
        <% destination.plans.forEach(function(p) { %>
            <ul class="plans-list">
                <li><input type="checkbox"><%= p.plan %></li>
            </ul>
        <% }); %>
        <% } else { %>
            <h5>No Plans Yet</h5>
        <%  }  %>
</section>

<br>
<br>
<br>
<section class="tl-memories">
    <form action="/destinations/<%= destination._id %>/memories" method="POST" class="memory-form">
        <label>Log a Memory:</label>
        <br>
        <input type="text" name="memory">
        <br>
        <button type="submit">Add Memory</button>
    </form>
    <br>
    <br>
    <div>My Memories:</div>

    <% if (destination.memories.length) { %>
        <% destination.memories.forEach(function(m) { %>
            <ul class="memories-list">
                <li><%= m.memory %></li>
            </ul>
        <% }); %>
        <% } else { %>
            <h5>No Plans Yet</h5>
        <%  }  %>
</section>




<%- include('../partials/footer') %>