<%- include('../partials/header') %>

<h1><%= title %></h1>

<section class="td-details">
    <div>City:</div>
    <div><%= destination.city %></div>
    <div>Country:</div>
    <div><%= destination.country %></div>
    <div>Date:</div>
    <div><%= (destination.date).toLocaleDateString('en-US') %></div>
    <div>Purpose:</div>
    <div><%= destination.purpose %></div>
</section>

<br>
<br>
<section class="td-plans">
    <form action="/destinations/<%= destination._id %>/plans" method="POST" class="plan-form">
        <label>Add a Plan:</label>
        <br>
        <textarea name="plan"></textarea>
        <br>
        <button type="submit">Add Plan</button>
    </form>
    <br>
    <br>
    <div>My Plans:</div>

    <% if (destination.plans.length) { %>
        <% destination.plans.forEach(function(p) { %>
            <ul>
                <li><%= p.plan %></li>
            </ul>
        <% }); %>
        <% } else { %>
            <h5>No Plans Yet</h5>
        <%  }  %>
</section>




<%- include('../partials/footer') %>